.main {
  height: 100%;
  display: flex;
}
.contentSection {
  background-color: red;
  width: 68%;
}
.suggestUsersSection {
  width: 32%;
  background-color: blue;
}
@media screen and (max-width: 1150px) {
  .suggestUsersSection {
    display: none;
  }
  .contentSection {
    width: 100%;
  }
}
